@(tweets: List[models.Tweet])

@part_header()

<div>
	<div class="row col-md-12">
		@part_me()
		<div id="panel-right" class="col-lg-8 col-md-9 col-sm-9 col-xs-12">
			@if(tweets.length > 0){
				@for(t <- tweets){
					@part_shout(t)
				}
			}else{
				@part_no_shout()
			}
		</div>
	</div>
</div>
<style type="text/css">
	#profile{
		position: fixed;
	}
	#profile iframe{
		width: 100%;
		height: 100%;
	}
</style>
<div id="profile" class="col-md-6">
	<!-- <iframe src="/user/asdf"></iframe> -->
</div>
@part_footer()