<html>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/blur.js")"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var image = "landing_0"+Math.floor(Math.random()*6)
            $("#vert-center").css("background-image", "url(../../assets/images/"+image+".jpg) ");
            $('#sign-in').submit(function(e){
                var hasError = false;
                if($("#sign-in-handle").val().length <= 0){$($("#sign-in-handle").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-in-password").val().length <= 0){$($("#sign-in-password").parent()).addClass("has-error"); hasError=true;}
                if(hasError) e.preventDefault();
                else return;
            });
            $('#sign-up').submit(function(e){
                var hasError = false;
                if($("#sign-up-handle").val().length <= 0){$($("#sign-up-handle").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-up-name").val().length <= 0){$($("#sign-up-name").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-up-email").val().length <= 0){$($("#sign-up-email").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-up-password").val().length <= 0){$($("#sign-up-password").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-up-password-confirm").val().length <= 0){$($("#sign-up-password-confirm").parent()).addClass("has-error"); hasError=true;}
                if($("#sign-up-password-confirm").val() != $("#sign-up-password").val()){$($("#sign-up-password-confirm").parent()).addClass("has-error"); hasError=true;}
                if(hasError) e.preventDefault();
                else return;
            });
            $('.form-control').focus(function(){
                $($(this).parent()).removeClass('has-error');
            });
            if (navigator.geolocation){
                navigator.geolocation.getCurrentPosition(function(position){
                    var loc = {
                        lat:position.coords.latitude, 
                        lng:position.coords.longitude
                    }
                    $('#sign-up-location').val(JSON.stringify(loc));
                });
            }
        });
    </script>
    <div id="vert-center">
        <div id="inner-center">
            <div id="landing-container" class="row col-md-12">
                <div id="welcome-container" class="right col-sm-6 col-xs-12">
                    <span class="exciting">Shout Out Loud!</span><br>
                    <div class="clearfix"></div>
                    <span class="sub-exciting">Welcome!</span><br>
                    <div class="clearfix"></div>
                    <span class="super-sub-exciting">Login or Register</span>
                </div>

                <div id="auth-container" class="right col-md-6 col-lg-4 col-sm-6 col-xs-12">
                    <form id="sign-in" class="well" method="POST" action="/login">
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input id="sign-in-handle" type="text" class="form-control" name="handle" placeholder="Handle">
                        </div>
                        <div class="input-group">
                            <input id="sign-in-password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="float:right;width:150px;">
                                <input type="submit" class="form-control" value="Login!">
                            </div>
                        </div>
                    </form>
                    <form id="sign-up" class="well" method="POST" action="/register">
                        <div class="input-group">
                            <span class="input-group-addon">@@</span>
                            <input id="sign-up-handle" type="text" class="form-control" name="handle" placeholder="Handle">
                        </div>
                        <div class="input-group">
                            <input id="sign-up-name" type="text" class="form-control" name="fullname" placeholder="Name">
                        </div>
                        <div class="input-group">
                            <input id="sign-up-email" type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <input id="sign-up-password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <input id="sign-up-password-confirm" type="password" class="form-control" name="password-confirm" placeholder="Confirm Password">
                            <span class="input-group-btn">
                                <input class="btn btn-default" type="submit" value="Register!">
                            </span>
                        </div>
                            <input id="sign-up-location" type="text" name="location" style="display:none">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>  


</html>