@(tweet: models.Tweet)

<script type="text/javascript" src="../../public/javascripts/jquery-1.9.0.min.js"></script>
				<script type="text/javascript">
					$(document).ready(function(){
						var html = @tweet.getContent()
						html = html.split(' ');
						for (var i = 0; i < html.length; i++) {
							if(html[i].indexOf('#') == 0)
								html[i] = '<a href="/search/'+html[i].substring(1)+'">'+html[i]+'</a>';
							html[i] += " ";
						};
						$('.shout-content').html(html);
					})
				</script>

<div class="shout-container">
	<div class="shout">
		<div class="shout-avatar">
			<img src="http://placehold.it/140x140">
		</div>
		<div class="shout-data">
			<div class="shout-info">
				<a class="shout-names handle" href="#">
					<strong>tweet.fullname</strong>
					<span>@@ tweet.handle</span>
				</a>
				<a class="shout-time" href="/shout/shoutid">
					5h
				</a>
				<div class="clearfix"></div>
			</div>
			<div class="shout-content">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="shout-options">
			<div class="btn">
			  <span class="glyphicon glyphicon-star"></span> Favorite
			</div>
			<div class="btn">
			  <span class="glyphicon glyphicon-retweet"></span> Reshout
			</div>
			<div class="btn">
			  <span class="glyphicon glyphicon-share-alt"></span> Reply
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
