@(tweet: models.Tweet)



<div class="shout-container">
	<div class="shout">
		<div class="shout-avatar">
			<img src="http://placehold.it/140x140">
		</div>
		<div class="shout-data">
			<div class="shout-info">
				<a class="shout-names handle" data-handle="@tweet.getTweetCreator().getHandle()" href="#">
					<strong>@tweet.getTweetCreator().getFullName()</strong>
					<span>@@ @tweet.getTweetCreator().getHandle()</span>
				</a>
				<a class="shout-time" href="#" tweet-timestamp-id="@tweet.getId()">
				</a>
				<script type="text/javascript">
					var time = moment("@tweet.getTimestamp()").fromNow();
					$("a[tweet-timestamp-id='@tweet.getId()']").html(time);
				</script>
				<div class="clearfix"></div>
			</div>
			<div class="shout-content" tweet-id="@tweet.getId()">
				
			</div>
			<script type="text/javascript">
				var html = "@tweet.getContent()"+" "+"";
				html = html.split(' ');
				var full = "";
				for (var i = 0; i < html.length; i++) {
					if(html[i].indexOf('#') == 0)
						html[i] = '<a href="/search/'+html[i].substring(1)+'">'+html[i]+'</a>';
					full += html[i] + " ";
				};
				$("div[tweet-id='@tweet.getId()']").html(full);
				$("#all-shouts").attr("maxId", @tweet.getId())
			</script>
		</div>
		<div class="clearfix"></div>
		<div class="shout-options">
			<div class="btn">
			  <span class="glyphicon glyphicon-star"></span> Favorite
			</div>
			<div class="btn">
			  <span class="glyphicon glyphicon-retweet"></span> Reshout
			</div>
			<div class="btn">
			  <span class="glyphicon glyphicon-share-alt"></span> Reply
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
