@(me: models.Profile)
<div class="shout-container">
	<div class="shout" id="me">
		<div id="me-top">
			<div class="shout-avatar col-lg-4 col-md-12 col-sm-12" id="me-avatar">
				<img src="http://placehold.it/50x50">
			</div>
			<a id="me-name" class="shout-names handle col-lg-8 col-md-12 col-sm-12" data-handle="@me.getHandle()" href="#">
				<strong>@me.getFullName()</strong>
				<span>@@@me.getHandle()</span>
			</a>
			<div class="clearfix"></div>
		</div>
		@part_profile_stats(me.getNumTweets(), me.getNumFollowers(), me.getNumFollowing())
	</div>
</div>
<div class="clearfix"></div>