@(tweets: List[models.Tweet], trends: List[models.Trend], user: models.Profile, following: String)

@part_header(user.getHandle())
<script type="text/javascript">
	var followingList = @Html(following);
	$(document).ready(function(){
		var location = document.location.href.split('/');
		$('#all-shouts').attr('src', "search/"+location[location.length-1])
	});
</script>
<div class="content">
	<div class="row col-md-12">
		<div id="panel-left" class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
			@part_me(user)
			@part_compose()
			@part_trends(trends)
		</div>
		<div id="panel-right" class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
			<div id="all-shouts" src="search/" tapped="false">
				@if(tweets.length > 0){
					@for(t <- tweets){
						@part_shout(t)
					}
				}else{
					@part_no_shout()
				}
			</div>
		</div>
	</div>
</div>
@part_footer()