*{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	color: #00CC00;
	text-decoration: none;
}
.well{
	border-radius: 10px;
}
/*landing-auth*/

@media (max-width: 768px) {
 	.exciting{
    	font-size: 3em!important;
	}
	#welcome-container span{
		text-align: center!important;
	}
}
#vert-center{
	height: 100%;
	width: 100%;
	background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:table;
}
#auth-container{
	float: left;
}
.input-group{
	width:100%;
	margin-bottom: 5px;
}
/*feed*/
#panel-left{
	float:left;
}
#panel-right{
	overflow-y: scroll;
	height: 90%;
}
#element::-webkit-scrollbar {
	display: none; 
}
#element {
    -ms-overflow-style: none;
}
::-webkit-scrollbar { 
	display: none; 
}
body{
	background-color:rgba(0,0,0,.2);
}
/*Shouts*/
.shout-container{
	padding: 10px;
}
.shout{
	width: 100%;
	min-height:50px;
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 2px solid #e1e1e1;
}
.shout:hover .shout-content a{
	text-decoration: underline; 
	color:#00CC00;
}
.shout-avatar{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.shout-avatar img{
	height: 100%;
	width:100%;
}
.shout-avatar img:hover{
	height: 100%;
	width:100%;
	box-shadow: 0px 0px 3px #00CC00;
}
.shout-data{
	overflow: hidden;
}

.shout-info{
	padding: 3px;
	color: black;
	text-decoration: none;
}
.shout-names{
	float:left;
}
.shout-names span{
	font-size: 0.8em;
	color: #999;
}.shout-names:hover span{
	text-decoration: none;
}
.shout-names:hover strong{
	text-decoration: underline;
}
.shout-time{
	float: right;
}
.shout-time:hover{
	text-decoration: underline;
}
.shout-options{
	float:right;
	display: none;
}
.shout:hover .shout-options{
	display: block;
}

/*info boxes*/
#me{
}
#me-top{
	position: relative;
	margin-bottom: 5px;
}
#me-avatar{
	height: 60px;
	width: 60px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
#me-avatar img{
	height: 100%;
	width: 100%;
}
#me-name{
	position: absolute;
	bottom: 0px;
	font-size: 2em;
}
#me-middle{
	border:1px solid #e1e1e1;
}
#me-tweets{
	float: left;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
}
#me-followers{
	float: left;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid #e1e1e1;
}
#me-following{
	float: left;
	margin: 5px;
	padding: 5px;
	border-right: 1px solid transparent;
}
#trends{
	margin-top: 10px;
}
/*profile*/
.profile-stats-container{
	margin-top: 10px;
	width: 100%;
	display: table;
}
.profile-stats{
	width: 100%;
	display: table-row;
}
.profile-stats div{
	display: table-cell;
	width: 30%;
	text-align: center;
}
.profile-stats div:not(:last-child){
	border-right:2px solid #efefef;
}
#them{
	width: 100%;
	text-align: center;
}
#them img{
	height: 100px;
	display: block;
	margin: auto;
}