<html>
<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css">
	<script type="text/javascript" src="../../public/javascripts/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="../../public/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../public/javascripts/blur.js"></script>
	<style type="text/css">
		#landing-container{
			margin: 0px;
			padding: 0px;
		}
		#inner-center{
			display:table-cell;
			vertical-align: middle;
		}
		.well{
			border-width:0px;
			background-color: rgba(0,0,0,0.5);
		}
		#welcome-container span{
			text-align: right;
			float:right;
			color: white;
			/*text-shadow: 0.05em 0.05em 0px rgba(0,0,0, 0.5),  0em 0em 2px rgba(0,0,0, 0.5);*/
			text-shadow: 0px 0.05em   0px #b2a98f,
			             0px 0.1em 10px rgba(0,0,0,0.23),
			             0px 0.15em  2px rgba(0,0,0,0.2),
			             0px 0.2em 30px rgba(0,0,0,0.5);
		}
		.exciting{
			font-size: 6em;
		}
		.sub-exciting{
			font-size: 4em;
		}
		.super-sub-exciting{
			font-size: 2em;
			text-shadow: 0.1em 0.1em 0px rgba(0,0,0, 0.5)
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			var image = "landing_0"+Math.floor(Math.random()*7);
			$("#vert-center").css("background-image", "url(../../public/images/"+image+".jpg) ");
			$('#sign-in').submit(function(e){
				var hasError = false;
				if($("#sign-in-handle").val().length <= 0){$($("#sign-in-handle").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-in-password").val().length <= 0){$($("#sign-in-password").parent()).addClass("has-error"); hasError=true;}
				if(hasError) e.preventDefault();
				else return;
			});
			$('#sign-up').submit(function(e){
				var hasError = false;
				if($("#sign-up-handle").val().length <= 0){$($("#sign-up-handle").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-up-name").val().length <= 0){$($("#sign-up-name").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-up-email").val().length <= 0){$($("#sign-up-email").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-up-password").val().length <= 0){$($("#sign-up-password").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-up-password-confirm").val().length <= 0){$($("#sign-up-password-confirm").parent()).addClass("has-error"); hasError=true;}
				if($("#sign-up-password-confirm").val() != $("#sign-up-password").val()){$($("#sign-up-password-confirm").parent()).addClass("has-error"); hasError=true;}
				if(hasError) e.preventDefault();
				else return;
			});
			$('.form-control').focus(function(){
				$($(this).parent()).removeClass('has-error');
			});
		});
	</script>
	<div id="vert-center">
		<div id="inner-center">
			<div id="landing-container" class="row col-md-12">
				<div id="welcome-container" class="right col-sm-6 col-xs-12">
					<span class="exciting">Shout Out Loud!</span><br>
					<div class="clearfix"></div>
					<span class="sub-exciting">Welcome!</span><br>
					<div class="clearfix"></div>
					<span class="super-sub-exciting">Login or Register</span>
				</div>

				<div id="auth-container" class="right col-md-6 col-lg-4 col-sm-6 col-xs-12">
					<form id="sign-in" class="well" method="POST" action="/login">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input id="sign-in-handle" type="text" class="form-control" name="handle" placeholder="Handle">
						</div>
						<div class="input-group">
							<input id="sign-in-password" type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<div class="input-group">
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="float:right;width:150px;">
								<input type="submit" class="form-control" value="Login!">
							</div>
						</div>
					</form>
					<form id="sign-up" class="well" method="POST" action="/login">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input id="sign-up-handle" type="text" class="form-control" name="handle" placeholder="Handle">
						</div>
						<div class="input-group">
							<input id="sign-up-name" type="text" class="form-control" name="name" placeholder="Name">
						</div>
						<div class="input-group">
							<input id="sign-up-email" type="email" class="form-control" name="email" placeholder="Email">
						</div>
						<div class="input-group">
							<input id="sign-up-password" type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<div class="input-group">
							<input id="sign-up-password-confirm" type="password" class="form-control" name="password-confirm" placeholder="Confirm Password">
							<span class="input-group-btn">
								<input class="btn btn-default" type="submit" value="Register!">
							</span>
						</div>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	


</html>