<div id="panel-left" class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
	<div class="shout-container">
		<div class="shout" id="me">
			<div id="me-top">
				<div class="shout-avatar" id="me-avatar">
					<img src="http://placehold.it/50x50">
				</div>
				<a id="me-name" class="shout-names" href="/user/asdf">
					<strong>Joe Dailey</strong>
					<span>@DaileyJoe</span>
				</a>
				<div class="clearfix"></div>
			</div>
			<div id="me-middle">
				<div id="me-tweets"><p>tweets</p><h3>9001</h3></div>
				<div id="me-followers"><p>followers</p><h3>9001</h3></div>
				<div id="me-following"><p>following</p><h3>9001</h3></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>