<html>
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/main.css">
	<script type="text/javascript" src="../../public/javascripts/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="../../public/javascripts/bootstrap.min.js"></script>
	<style type="text/css">

	</style>

<div class="shout" id="trends">
	<div id="me-top">
		<h3><a href="#">thing</a></h3>
		<h3><a href="#">stuff</a></h3>
		<h3><a href="#">wow</a></h3>
		<h3><a href="#">thing</a></h3>
		<h3><a href="#">such thing</a></h3>
		<h3><a href="#">very please</a></h3>
		<h3><a href="#">wow</a></h3>
		<h3><a href="#">stuff</a></h3>
		<h3><a href="#">very please</a></h3>
		<h3><a href="#">thing</a></h3>
		<h3><a href="#">stuff</a></h3>
		<h3><a href="#">wow</a></h3>
		<h3><a href="#">thing</a></h3>
		<h3><a href="#">such thing</a></h3>
		<h3><a href="#">very please</a></h3>
		<h3><a href="#">wow</a></h3>
		<h3><a href="#">stuff</a></h3>
		<h3><a href="#">very please</a></h3>
	</div>
</div>

</html>